:root {
  --color-blue: #0282f9;
  --color-main: #1c1c1c;
  --h-header: 130px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Header */
.logo {
  width: calc(var(--h-header) - 3rem);
  height: calc(var(--h-header) - 3rem);
}

header {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

header,
nav,
header ul,
header ul li,
header ul li a {
  height: var(--h-header);
}

header ul {
  display: flex;
  gap: 1.5em;
}


header ul li a {
  color: #3f4344;
  display: flex;
  align-items: center;
  position: relative;
}

header ul li a:hover,
header ul li a.active {
  color: var(--color-blue);
}

header ul li a:hover::after,
header ul li a.active::after {
  background-color: var(--color-blue);
  content: "";
  height: 5px;
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Main */
main {
  background-color: var(--color-main);
  color: white;
  padding-block: 4rem;
}